body {
  max-width: 2500px;
  margin: 0 auto;
}

main {
  background-color: #f7f7f7;
  padding-top: 30px;
  padding-bottom: 70px;
}

.product_list_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Responsiv layout */
  gap: 10px;
  max-width: 1700px;
  margin: 20px auto;
}

.smallproduct {
  background-color: white;
  margin: 20px;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 6;
  gap: 0;
  padding-left: 15%;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* single product container */

.productcontainer {
  background-color: white;
  margin: 40px auto;
  padding: 20px;
}

.productdetails {
  width: 80%;
  padding-left: 10%;
  margin-top: 30px;
}

footer {
  text-align: center;
  align-content: center;
  height: 300px;
}

footer img {
  width: 200px;
}

select,
button {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd; /* Ljusgrå kant */
  background-color: white;
  color: black;
  font-size: 20px;
  border-radius: 5px; /* Rundade hörn */
  cursor: pointer;
  outline: none;
}

button:hover,
select:hover {
  background-color: rgb(247, 247, 247);
}

main {
  margin-top: 1%;
}

.index {
  margin-top: 7%;
}

.grid_1-1 img {
  max-width: 80%;
  padding-top: 5%;
}
.grid_1-1 h1 {
  text-align: left;
}

.category {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border: solid black 1px;
}

.category_list_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #f7f7f7;
  margin-top: 50px;
}

.category_list_container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: white;
}

.category2 {
  background-color: white;
  padding: 30px;
  color: black;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding-top: 1%;
  align-items: center;
}

nav a:visited,
nav a:link {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 25px;
  font-style: italic;
}

#banner {
  max-width: 100%;
  margin-top: -5%;
}

#banner img {
  aspect-ratio: 2/7;
}

nav img {
  width: 200px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.product_list_container a:link,
.product_list_container a:visited,
.category2 a:link,
.category2 a:visited {
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 25px;
}

nav {
  position: absolute;
  width: 100%;
  top: 0;
}

a:link,
a:visited,
li {
  color: rgb(255, 255, 255);
  text-decoration: none;
  list-style-type: none;
  font-style: italic;
}

category {
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 20px;
  align-content: center;
  text-align: center;
  background-color: white;
}

h2,
.soldout-overlay,
.soldout-overlay2 {
  font-weight: 700;
  font-style: italic;
  font-family: "ivystyle-sans", sans-serif;
}

h1,
a {
  text-align: center;
  font-weight: 700;
  font-family: "ivystyle-sans", sans-serif;
  font-style: normal;
  color: rgb(54, 54, 54);
}

h1 {
  font-style: italic;
}

h3,
p,
label {
  font-family: "ivystyle-sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h2,
h3 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

.oldprice {
  text-decoration: line-through;
}

.newprice {
  color: crimson;
}

.category a:visited,
.category a:link .category2 a:visited,
.category2 a:link {
  color: black;
  font-size: 19px;
  font-style: italic;
}

@media (min-width: 767px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    width: 90%;
  }

  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  article img {
    max-width: 80%;
  }

  h3 {
    font-size: 25px;
    margin-bottom: 0em;
  }

  h1 {
    font-size: 40px;
  }

  h2,
  nav a:visited,
  nav a:link {
    font-size: 30px;
  }
  .category a:visited,
  .category a:link,
  .category2 a:visited,
  .category2 a:link {
    color: black;
    font-size: 25px;
    font-style: italic;
    padding: 10px;
  }

  .category_list_container2 {
    gap: 2em;
    padding-top: 30px;
  }

  .productcontainer {
    background-color: white;
    max-width: 1000px;
    margin: 20px auto;
    padding: 50px;
  }

  .productdetails {
    width: 100%;
    padding-left: 0%;
    margin-top: 10px;
  }
}

.salelabel {
  visibility: hidden;
  font-size: 50px;
}

.out {
  visibility: visible;
}

.down {
  background-color: red;
  width: 60px;
  padding: 10px;
  padding-top: 15px;
  color: black;
}

.down2 {
  background-color: red;
  width: 50px;
  padding: 10px;
  padding-top: 15px;
  color: black;
}

.singlenewprice {
  font-size: 25px;
}

.isonsale {
  visibility: visible;
}

.soldout {
  visibility: visible;
}

.instock,
.single,
.singleproduct {
  position: relative;
  display: flex;
  justify-content: center; /* Centrerar horisontellt */
  align-items: center; /* Centrerar vertikalt */
  overflow: hidden; /* Förhindrar att bilden går utanför */
}

.soldout-overlay {
  position: absolute;
  width: 80%;
  left: 0;
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
  color: rgb(0, 0, 0);
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 16px;
  font-weight: bold;
  pointer-events: none;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.product_list_container img {
  max-width: 80%;
  border: solid rgb(133, 133, 133) 1px;
}
.singleproduct img {
  max-width: 80%;
  border: solid rgb(133, 133, 133) 1px;
}

.soldout-overlay2 {
  position: absolute;
  width: 80%;
  top: 40%;
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
  color: rgb(0, 0, 0);
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 16px;
  font-weight: bold;
  pointer-events: none;
  text-align: center;
}
